nav .nav-wrapper i
{
	display: inline-block;
	color: black;
	position: relative;
	top: 5px;
}
nav .nav-wrapper a
{
	margin-left: 5px;
}
span
{
	display: inline-block;
}
nav
{
	background-color: #DE5842;
}
html
{
	background-color: #EDEDEA;
}
div.container
{
	background-color: white;
	padding: 15px;
}
.btn
{
	background-color: #DE5842;
}
.btn:hover
{
	background-color: #9C2D1C;
}
div.error p
{
	font-size: 0.8em;
	color: red;
}
h3.ship
{
	margin-bottom: 79px;
}
table
{
	margin-bottom: 70px;
}
#addressmatch
{
	margin-bottom: 25px;
}
img.logo
{
	height: 63px;
}
button.stripe-button-el
{
	float: right !important;
	margin-right: 10px;
}
div.input-field select
{
	display: block;
}